@import "./variables";

.left_section {
    display: flex;
    position: relative;
    // flex-direction: column;
    picture {
        width: 100%;
    }
    #bg_desktop {
        height: 100%;
        max-height: 50rem;
    }

    .card_front {
        color: #fff;
        position: absolute;
        top: 20%;  
        left: 30%; 
        transform: translate(0, 0);
        display: flex;
        height: fit-content;
        flex-direction: column;

        #logo {
            position: absolute;
            top: 0;  
            left: 0; 
            transform: translate(30%, 50%);
        }

        .cardholder_example {
            width: 100%;
        }
        
        #exp_date_example {
            width: 100%;
            height: 100%;
            display: inline-flex;
            flex-direction: row;
            justify-content: right;
        }
        

        .card_number_example {
            width: 100%;
            position: absolute;
            top: 45%;  
            left: -3%; 
            transform: translate(9%, 50%);
        }

        .cardholder_and_exp_date_example {
            position: absolute;
            display: flex;
            justify-content: space-between;
            padding-left: 1.5625rem;
            padding-right: 1.5625rem;
            top: 75%;  
            left: 0; 
            transform: translate(0%, 50%);
            width: 100%;

        }
    }

    .card_back {
        color: #fff;
        position: absolute;
        top: 55%;  
        left: 50%; 
        display: flex;
        height: fit-content;

        .cvc_example {
            position: absolute;
            top: 40%;  
            right: 12%; 
            transform: translate(-10%, 50%);
        }
    }
}



@media only screen and (max-width: 1349px) {
    // #bg_mobile {
    //     width: 100%;
    //     max-width: 400px;
    // }

    .bg_image{
        width: 100%;
    }

    #card_front_div {
        // display: none;
        width: 100%;
        height: 90%;
        scale: 0.8;
        top: 40%;  
        left: -5%; 
        transform: translate(0, 0);
        z-index: 2;

        
    }

    #card_back_div {
        // display: none;
        width: 100%;
        height: 100%;
        scale: 0.6;
        top: -5%;  
        left: 5%; 

        .cvc_example {
            scale: 1.3;
            top: 42%;  
            right: -5%; 
            transform: translate(0%, 50%);
        }
    }
}



@media screen and (max-width: 400px) {
    #card_back_div {
        #cvc_example {
            scale: 1.2;
            top: 38%;  
            right: -5%; 
            transform: translate(0%, 50%);
        }
    }
}

@media screen and (max-width: 300px) {
    #card_front_div {
        #logo {
            scale: 0.8
        }
       .card_number_example {
            scale: 0.8;
            left: -5%
       }

       .cardholder_and_exp_date_example {
            scale: 0.9;
            left: -1%;
            top: 70%;
            justify-content: space-between;
       }
    }
}

