@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$darkerTextCol: hsl(279, 6%, 55%);
$purpleCol: hsl(278, 68%, 11%);
$lightTextCol: hsl(270, 3%, 87%);
$font: 'Space Grotesk', sans-serif;
$activeBorder: hsl(249, 99%, 64%);